<!-- Open Configuration\unity.config and replace with the content below for deploying -->
<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!-- Engines -->
    <typeAlias alias="IBoardEngine" type="WorkTestTrello.Engine.Engines.IBoardEngine, WorkTestTrello.Engine" />
    <typeAlias alias="BoardEngine" type="WorkTestTrello.Engine.Engines.BoardEngine, WorkTestTrello.Engine" />
    <typeAlias alias="IHomeEngine" type="WorkTestTrello.Engine.Engines.IHomeEngine, WorkTestTrello.Engine" />
    <typeAlias alias="HomeEngine" type="WorkTestTrello.Engine.Engines.HomeEngine, WorkTestTrello.Engine" />
    <!-- API Repositories -->
    <typeAlias alias="IMemberAPIRepository" type="WorkTestTrello.Data.APIRepository.IMemberAPIRepository, WorkTestTrello.Data" />
    <typeAlias alias="MemberAPIRepository" type="WorkTestTrello.Data.APIRepository.MemberAPIRepository, WorkTestTrello.Data" />
    <typeAlias alias="IBoardAPIRepository" type="WorkTestTrello.Data.APIRepository.IBoardAPIRepository, WorkTestTrello.Data" />
    <typeAlias alias="BoardAPIRepository" type="WorkTestTrello.Data.APIRepository.BoardAPIRepository, WorkTestTrello.Data" />
  </typeAliases>
  <container>
    <!-- Engines -->
    <register type="IBoardEngine" mapTo="BoardEngine" />
    <register type="IHomeEngine" mapTo="HomeEngine" />
    <!-- API Repositories -->
    <register type="IMemberAPIRepository" mapTo="MemberAPIRepository" />
    <register type="IBoardAPIRepository" mapTo="BoardAPIRepository" />
  </container>
</unity>