<script type="text/template" id="popup_container_template">
  <div class="popup-container" style="display:none;">
    <div class="popup-container-inner">
      <div class="popup-content-container">
      </div>
    </div>
  </div>
</script>
<script type="text/template" id="popup_loading">
  <div id="popup-loading">
    <img src="@Url.Content("~/Images/General/Progress.gif")" height="26" style="background-color:white;border-radius:50%;padding:5px;" />
    <span style="padding-top:5px;"> Loading ....</span>
  </div>
</script>
<script type="text/template" id="busy_image">
  <img src="@Url.Content("~/Images/General/Progress.gif")" height="26" style="background-color:white;border-radius:50%;padding:5px;" />
</script>